body {
    font-size: large;
}

label {
    font-weight: bold;
}

.collapsible {
    display: none;
}

ul.messages {
    padding-left: 0;
}

ul.messages li {
    list-style: none;
    padding: 1rem;
    border: solid 0.2rem;
    border-radius: 0.5rem;
}

.success {
    background-color: #bfb;
    color: #080;
    border-color: #080;
}

.error {
    background-color: #fbb;
    color: #800;
}

.bg-gray {
    background-color: #ccc;
}

.bg-gray-light {
    background-color: #eee;
}