{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
    <script src="{% static 'tracker/jquery.js' %}"></script>
</head>
<body>
    <button class="collapsible-toggle">Show fields to add something</button>
    <div class="collapsible">
        {% for form in forms %}
        <form method="POST" action="{% url 'tracker:add_new' %}">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="type-{{ form.2 }}">
            <fieldset>
                <legend>{{ form.0 }}</legend>
                {% for field in form.1 %}
                    <div>{{ field.label_tag }} {{ field }}</div>
                {% endfor %}
                <input type="submit" value="Add">
            </fieldset>
        </form>
        {% endfor %}
    </div>
    
    <div>
    {% for step in steps %}
        <p>{{ step }}</p>
        <button class="ajax-contacts" value="{{ step.job_app.company.id }}" ajax-contacts-url="{% url 'tracker:get_contacts' step.job_app.company.id %}">Contacts for {{ step.job_app.company }}</button>
        <div id="contacts-{{ company }}"></div>
    {% empty %}
        <p>no steps taken yet</p>
    {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            // can we jQuery? (because $(document).ready() already uses jQuery)
            // alert("OOGEDY BOOGEDY");

            /*** COLLAPSIBLE FUNCTIONALITY ***/
            function toggleCollapsible() {
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                }
                else {
                    content.style.display = "block";
                }
            }
            
            // bind click event handler to display toggle buttons
            var collapsible_toggles = document.getElementsByClassName("collapsible-toggle");
            for (var i = 0; i < collapsible_toggles.length; i++) {
                collapsible_toggles[i].addEventListener("click", toggleCollapsible);
            }


            /*** AJAX ***/
            function loadContacts(params) {
                var content = this.nextElementSibling;
                $(content).load("contacts/"+this.value);
            }

            // bind click event handler to contact toggles
            var contact_toggles = document.getElementsByClassName("ajax-contacts");
            for (var i = 0; i < contact_toggles.length; i++) {
                contact_toggles[i].addEventListener("click", loadContacts);
            }
        });
    </script>
</body>
</html>