{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job App Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
    <script src="{% static 'tracker/jquery.js' %}"></script>
</head>
<body>
<section>
    <button class="collapsible-toggle">Show/hide fields to add something</button>
    <div class="collapsible">
        {% for form in forms %}
        <form method="POST" action="{% url 'tracker:add_new' %}">
            {% csrf_token %}
            <input type="hidden" name="form-type" value="type-{{ form.2 }}">
            <fieldset>
                <legend>{{ form.0 }}</legend>
                {% for field in form.1 %}
                    <div>{{ field.label_tag }} {{ field }}</div>
                {% endfor %}
                <input type="submit" value="Add">
            </fieldset>
        </form>
        {% endfor %}
    </div>
</section>
    
    <section class="bg-gray-light">
    {% regroup steps by job_app as job_apps %}
    {% for ja in job_apps %}
    <p>{{ ja.grouper }}</p>
    {% for step in ja.list %}
    <div class="{% cycle 'bg-gray-light' 'bg-gray' %}">
    <p>{{ step }}, {{ step.get_step_display }}, {{ step.date }}
            {% if step.done %} (done)
            {% else %} (not done)
            {% endif %}</p>
        {% if step.step == 'resm' %}
        <p>filename: {{ step.job_app.resume }}</p>
        {% elif step.step == 'covr' %}
        <button class="collapsible-toggle">Show/hide cover letter</button>
        <p class="collapsible">{{ step.job_app.cover_letter }}</p>
        {% endif %}
    </div>
    {% empty %}
        <p>no steps taken yet</p>
    {% endfor %}
    <p>{{ ja.grouper.other_material }}, {{ ja.grouper.notes }}</p>
    <button class="ajax-contacts" value="{{ ja.grouper.company.id }}" ajax-contacts-url="{% url 'tracker:get_contacts' ja.grouper.company.id %}">Contacts for {{ ja.grouper.company }}</button>
    <div id="contacts-{{ company }}"></div>
    {% endfor %}
    </section>

    <!-- SCRIPTS -->
    <script src="{% static 'tracker/ajax.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // can we jQuery? (because $(document).ready() already uses jQuery)
            // alert("OOGEDY BOOGEDY");

            /*** COLLAPSIBLE FUNCTIONALITY ***/
            function toggleCollapsible() {
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                }
                else {
                    content.style.display = "block";
                }
            }
            
            // bind click event handler to display toggle buttons
            var collapsible_toggles = document.getElementsByClassName("collapsible-toggle");
            for (var i = 0; i < collapsible_toggles.length; i++) {
                collapsible_toggles[i].addEventListener("click", toggleCollapsible);
            }
        });
    </script>
</body>
</html>